body{
    font-family: sans-serif;
 
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #f3817b;
}
.box h1{
  color: white;
  font-weight: 500;
}


.box input[type="text"], .box input[type="password"] {
    background: none;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ddd6f3;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 280px; 
  border-color: #ae98f7 ; 
}
 .box input[type="submit"] {
    background: #f3817b;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ae98f7 ;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
 }

 .box input[type="submit"]:hover{
    background: #ae98f7 ; 
 }

.del{
    width: 20px;
    margin-left: 280px;
    
}