@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
*{
  /* overflow-x: hidden; */
  box-sizing: border-box;
  
}
.saa
{
  margin-right: 10px;
}
.navsty{
  font-size: 20px;
}
body{
    font-family: sans-serif;
    margin: 0px;
  }

 
 header {
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
   position:sticky ;
   top: 0px;
   background: white;
 }

 nav {
   min-height: 10vh;
   margin: auto;
   width:90%;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
 }
 .imgh{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

nav h1, nav ul, .imgh {
  font-size: 1.5rem;
  flex: 1; 
  position: -webkit-sticky;

}
nav ul, .imgh{
  display: flex;
  justify-content: space-evenly ;
}
nav a {
  color: black;
  text-decoration: none;
  transition: .4s;
}

.h3{
  font-style: italic;
  font-size: 40px;
}

.abt{
  overflow: hidden;  text-align: center; justify-content: center;
 
}

.bt1{
  font-style: italic  ;
  font-size: 20px;
  background-color:#faaca8 ;
  color :white;
  margin-left: 25px;
  size: 100px;
}

.ft{
  font-style: italic;
  font-size: 16px;
}

.About {
  background: white;
  margin-right: 0px;
}

.Gallery {
  background: linear-gradient(to right top ,#ddd6f3 ,#faaca8  ); 
}

.Partners {
  background: linear-gradient(to right top ,#ddd6f3 ,#faaca8  ); 
}
.Team , .Subscribe{
  background: #faaca8 ; 
  margin-bottom: 20px;
}

@media (max-width: 575px)
.btn-start {
    font-size: 18px;
}


.margin {
  margin-left: 155px;
}

footer {
  background: #cbc2eb;
  /* overflow-x: hidden; */
  padding: 14vmin 18vmin;
}


footer input {
  border: none !important;
}

footer input::placeholder {
  color: rgb(0, 0, 0) !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}
.h4{
  color: white;
}


/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  

}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
  width: 25vw;
}

#carousel div span img {
  border-radius: 50%;
  width: 100%;
  margin-top: 1vw;
  transition: width 1s;
  box-shadow:none;
  position: relative;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 13vw;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 13vw;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
  width: 20vw;
}
#carousel div.prev img{
  width: 14vw;
}
#carousel div.prev p{
  font-size: 18px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(100px) translateX(-50%);
  opacity: 0.7;
  width: 8vw;
}
#carousel div.prevLeftSecond img{
  width: 8vw;
}
#carousel div.prevLeftSecond p{
  font-size: 16px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
  width: 25vw;
}
#carousel div.selected img{
  width: 15vw;
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
  width: 20vw;
}
#carousel div.next img{
  width: 14vw;
}
#carousel div.next p{
  font-size: 18px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(100px) translateX(-50%);
  opacity: 0.7;
  width: 13vw;
}
#carousel div.nextRightSecond img{
  width: 8vw;
}
#carousel div.nextRightSecond p{
  font-size: 16px;
}
#carousel div span{
  left: 0;
  position:relative;
  text-align:center;
  top: 0%;
  width: 100%;

}
#carousel div span a{
  color:#d39fe3;
  font-size: 2vw;
  margin: 5%;
}


.box-area {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  z-index: 4 ;
}

.single-box {
 
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center ;
  width: 250px;
  border-radius: 5%;
  text-align:center ;
margin:50px ;
padding: 20px;
background-color: rgb(255, 255, 255);
transition: 07s;}

.img-area { 
  display: :flex;
  justify-content: center; 
  align-items: center ;
  width : 100px;
  height: 100px ;
  border: 3px solid #ddd;
  border-radius : 50% ; 
  margin-bottom: 10px; 
  padding: 20px;
  -webkit-background-size: cover;
    background-size: cover ;
    background-position: center center;  
}

.single-box:nth-child(1) .img-area
{
background-image: url(../assets/delice.jpg) ;
}
.single-box:nth-child(2) .img-area
{
background-image: url(../assets/orenda.jpg) ;
}
.single-box:nth-child(3) .img-area
{
background-image: url(../assets/mosaique.jpg) ;
}

.img-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.margin2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  
}

.email{
  font-size: 20px;
  font-style: italic;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 0 07%;
}
.contact input,textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}
textarea {
  height: 250px;
}
input{
  height: 70px;
}
.pic{
  background-image: url("https://image.freepik.com/free-vector/subscriber-concept-illustration_114360-3895.jpg");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .pic, {
    background-image: none;
  }

}
.mr{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}
.ssh{
  justify-content:space-around;
max-width:100%}

li{
  margin:4%}






