@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
*{
  overflow-x: hidden;
  box-sizing: border-box;
}


body{
    font-family: sans-serif;
    margin: 0px;
  }

 
 header {
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
   position:sticky ;
   top: 0px;
   background: white;
 }

 nav {
   min-height: 10vh;
   margin: auto;
   width:90%;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
 }

nav h1, nav ul {
  font-size: 1.5rem;
  flex: 1; 

}
nav ul{
  display: flex;
  justify-content: space-evenly ;
}
nav a {
  color: black;
  text-decoration: none;
  transition: .4s;
}

.h3{
  font-style: italic;
  font-size: 20px;
}

.bt1{
  font-style: italic white ;
  font-size: 20px;
  background-color:#faaca8 ;
}

.ft{
  font-style: italic;
  font-size: 16px;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 0px;
}

section h2{
  font-size: 5rem;
  color: black ;

}

.About {
  background: white;
  margin-right: 0px;
}

.Gallery {
  background: linear-gradient(to right top ,#ddd6f3 ,#faaca8  ); 
}

.Partners {
  background: linear-gradient(to right top ,#ddd6f3 ,#faaca8  ); 
}
.Team , .Subscribe{
  background: #faaca8 ; 
}

.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right top,#ddd6f3, #faaca8 );
  transform: scale(2);
  transition: all 0.5 ease;
}


@media (max-width: 575px)
.btn-start {
    font-size: 18px;
}


.margin {
  margin-left: 155px;
}

footer {
  background: #fac0bd;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}



footer input {
  border: none !important;
}

footer input::placeholder {
  color: rgb(0, 0, 0) !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}



/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  

}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
  width: 25vw;
}

#carousel div span img {
  border-radius: 50%;
  width: 100%;
  margin-top: 1vw;
  transition: width 1s;
  box-shadow:none;
  position: relative;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 13vw;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 13vw;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
  width: 20vw;
}
#carousel div.prev img{
  width: 14vw;
}
#carousel div.prev p{
  font-size: 18px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(100px) translateX(-50%);
  opacity: 0.7;
  width: 13vw;
}
#carousel div.prevLeftSecond img{
  width: 8vw;
}
#carousel div.prevLeftSecond p{
  font-size: 16px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
  width: 25vw;
}
#carousel div.selected img{
  width: 18vw;
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
  width: 20vw;
}
#carousel div.next img{
  width: 14vw;
}
#carousel div.next p{
  font-size: 18px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(100px) translateX(-50%);
  opacity: 0.7;
  width: 13vw;
}
#carousel div.nextRightSecond img{
  width: 8vw;
}
#carousel div.nextRightSecond p{
  font-size: 16px;
}
#carousel div span{
  left: 0;
  position:relative;
  text-align:center;
  top: 0%;
  width: 100%;

}
#carousel div span a{
  color:#d39fe3;
  font-size: 2vw;
  margin: 5%;
}


